html, body {
  margin: 0 auto;
}

header, body {
  font-family: "Raleway", "Veranda", sans-serif;
}

/* HEADER */

header {
  height: 125px;
  text-align: center;
  background-color: #333;
  /*color: white;*/
  /*position: fixed;*/
  /*width: 100%;*/
}

#logoText {
  display: inline-block;
  margin-bottom: 0;
  font-family: "Bungee", cursive;
  font-size: 40px;
  /*color: white;*/
  /*background: -webkit-linear-gradient(rgb(255, 69, 0), white);*/
  /*background: -webkit-linear-gradient(#333, white);*/
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #f2f2f2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #66bfff;
  text-align: center;
  padding: 14px 16px;
}

nav li a:hover {
  background-color: rgba(255, 69, 0, .7);
  color: white;
}

a {
  text-decoration: none;
}

.floatRight {
  float: right;
  vertical-align: middle
}

.button, .bigButton {
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #767675;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.button {
  font-size: 14px;
  padding: 6px;
}

.bigButton {
  font-size: 24px;
  padding: 10px;
}

.button:hover, .bigButton:hover {
  background-color: #333;
}

footer {
  background-color: #333;
  height: 300px;
  text-align: center;
  color:white;
  padding-top: 10px;
}

footer a {
  color: #66bfff;
}
