fieldset {
  width: 350px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
legend {background-color: #efefef;
border: 1px solid #dcdcdc;
border-radius: 10px;
padding: 10px 20px;
text-align: center;
text-transform: uppercase;
}
