#beerMatcher, #results {
  color: #333;
  font-size: 18px;
  width: 60%;
  margin: 50px auto;
  max-width: 600px;
}

#results {
  display: none;
  background-color: #f2f2f2;
  border: 1px solid #333;
  border-radius: 5px;
  padding-bottom: 20px;
  transition: visibility 0.6s ease;
}

fieldset {
  text-align: left;
  background-color: #f2f2f2;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 20px;
}

legend {
  color: #333;
  font-family: "Bungee", cursive;
  background-color: #efefef;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 5px 10px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

input[type=text], select:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#resultsHeading {
  font-family: "Bungee", cursive;
  text-align: center;
}

#style-name, #style-category-name {
  text-align: center;
  margin: 20px;
}

#style-description, #submitButton {
  margin: 10px;
}
