aside {
  float: left;
  width: 300px;
}

aside ul {
  padding: 5px;
}

aside li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: #66bfff;
}

#beerHeader {
  display: inline;
}

#pageNavigation {
  margin: 10px;
  padding: 0;
  cursor: pointer;
  /*width: 400px;*/
  /*overflow: scroll;*/
  /*flex-wrap: wrap-reverse;*/
  /*white-space: pre-wrap;*/
  font-family: 'Space Mono', monospace;
}

#pageNavigation li {
  display: inline;
  padding: 5px;
}

section {
  width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selectedBeer {
  border-top: 1px solid gray;
  margin: 5px;
  display: block;
  width: calc(100% - 300px);
}

.selectedBeer .beerText {
  padding-left: 522px; /* large image = 512 + 10 */
}

.beer {
  border-top: 1px solid gray;
  width: 30%;
  min-width: 200px;
  margin: 5px;
  background-color: #fcfcfc;
}

.beer h2 {
  text-align: center;
  /*background-color: rgba(255, 69, 0, .7);*/
  font-weight: bold;
  /*font-size: 22px;*/
  /*border-radius: 3px;*/
}

.beer p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.beerImg {
  float: left;
  padding-right: 5px;
}

.quantityPicker {
  width: 20px;
  text-align: center;
}

#details {
  display: none;
}

.hiddenSubList {
  display: none;
  padding-left: 10px;
}
